<div>
  <h1></h1>
  <ul>
      <li *ngFor='let qoute of qoute'>
        {{qoute.name}}
      </li>
  </ul>
</div>

<app-qoute></app-qoute>





  <div class="card highlight-card card-small">

  </div>


  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        

      <span>Patience</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
       

      <span>Belive</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
    

      <span>Faith</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      

      <span>Humility</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      
      <span>Hope</span>
    </div>
  </div>
